* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fbebea;
}

body {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 1220px;
  padding: 0 15px;
  margin: 0 auto;
}

.main-nav {
  display: flex;
}

.logo {
  margin-right: 40px;
  float: left;
  margin-left: 74px;
  margin-top: 62px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.site-navigation-item > a {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #2d2829;
  text-decoration: none;
  margin-right: 40px;
}

.number-link {
  margin-left: 245px;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #2d2829;
}

.site-navigation-item > a:hover {
  color: #f50049;
}

.hero-title {
  font-weight: 700;
  font-size: 78px;
  line-height: 70px;
  color: #2e2829;
  width: 314px;
}

.hero-descr {
  font-style: italic;
  font-size: 40px;
  line-height: 53px;
  color: #2e2829;
  margin-bottom: 75px;
}

.main-cake-img {
  position: absolute;
  width: 759px;
  height: 918px;
  left: 685px;
  top: 105px;
}

.hero-btn {
  font-weight: 700;
  font-size: 13px;
  line-height: 27px;
  text-transform: uppercase;
  background-color: #f50049;
  color: #ffffff;
  width: 226px;
  height: 51px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: 0;
}

.hero-btn:hover {
  background-color: #d90041;
  transition: 0.5s;
}

.features {
  display: flex;
  align-items: center;
  margin-bottom: 240px;
}

.features-img {
  margin-right: 10px;
  margin-top: 110px;
}

.nature-text {
  width: 118px;
  margin-right: 40px;
  float: right;
  margin-top: 120px;
  font-size: 14px;
  line-height: 18px;
  color: #2e2829;
}

.delivery-text {
  width: 196px;
  float: right;
  margin-top: 120px;
  font-size: 14px;
  line-height: 18px;
  color: #2e2829;
}

.catalog-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 66px;
  color: #2d2829;
}
